.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    margin: 10px;
    background: lightblue;
}
.card-img{
    width: 100%;
}
.card-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 10px;
    background: gold;}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: black;
}