body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

.logo {
    width: 250px;
}

.header-container {
    display: flex;
    flex-direction: row;
    background: black;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: inline-flex;
    flex-direction: row;

}

.admission-container {
    display: flex;
    flex-direction: row;
    align-items: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerbutton:hover {
    background-color: brown;
    color: ivory;
    border: 10px black;
    transform: scale(1.3)
}

.headerbutton {
    color: black;
    background: ivory;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 20px;

}

.admissionbutton {
    color: ivory;
    background: brown;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 25px;
}

.admissionbutton:hover {

    transform: scale(1.3)
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: ivory;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    text-shadow: black 4px 4px 8px;
}

.overlay-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: ivory;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: black 4px 4px 8px;
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.3s ease;
    /* Smooth fade-in */
}

.image-overlay {
    position: relative;
    width: 100%;


}

.image-overlay2 {
    position: relative;
    width: 100%;
    ;
}

.image-overlay2:hover .overlay-text2 {
    opacity: 1;
    /* Show on hover */

}

.body-container {
    display: flex;
    flex-direction: row;
    background: black;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
    flex-wrap: wrap;
}

.text-container {
    width: 400px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ivory;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: right;
    border: 1px solid white;
    padding: 10px;
    width: 100px;
    margin: 10px;
    background: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    background-color: pink;
}

.program-img {
    width: 500px;
    height: auto;
    margin-right: 10px;
    border-radius: .5em;
}

.card p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: small;
}

.card h2 {
    font-weight: bold;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    color: black;
    font-size: medium;
}

.card-img {
    width: 50%;
    position: absolute;
    left: 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0%;
    background: brown;
}

.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mid2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mid3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mid4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: brown;
    align-items: center;
    justify-content: space-between;
    color: ivory;
}

.address {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-flex;
    flex-direction: column;
    padding-right: 30px;
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img-1 img-1 img-2 img-3" "img-1 img-1 img-4 img-5";
}

.grid-container img {
    height: 80%;
    width: 80%;
    border-radius: .5em;
    transition: 100ms ease-in-out;
}

.grid-container img:hover {
    transform: scale(1.05);

}

details {
    margin-top: 1em;
    background-color: ivory;
    border-radius: 1em;
}

details:hover {
    background-color: brown;
    color: ivory;
    border: 10px black;
    transform: scale(1.05);
}

details summary {
    padding: 1em;
    font-size: 1.7em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

details p {
    padding: 1em;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black
}